<header>
  <div class="container">
    <a routerLink="/home" class="logo">
      Stocks Market
    </a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/home">Accueil</a></li>
        <li><a href="#" routerLink="/section-one">Section Pv1</a></li>
        <li><a href="#" routerLink="/section-two">Section Pv2</a></li>
        <li><a href="#" routerLink="/section-three">Section Pv3</a></li>
        <span *ngIf="loggedIn" class="material-icons" (click)="logout()">
          logout
        </span>
        <span *ngIf="!loggedIn" class="material-icons" (click)="openDialog()">
          login
        </span>
      </ul>
    </nav>
  </div>
</header>
